#services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background-color: var(--gray-100);
  padding: 88px 0 120px;
}

#ajudas{
  display: flex;
  gap: 24px;

  div{
    border: 1px solid var(--gray-200);
    padding: 20px;
    border-radius: 12px;

    img{
      margin-bottom: 20px;
    }

    h1{
      font: var(--title-sm);
      margin-bottom: 8px;
    }

    p{
      font: var(--text-sm);
      color: var(--gray-500);
    }
  }
}